body{
    background: linear-gradient(to bottom left, #18557a 0%, #70d0c7 100%);
    background-attachment: fixed;
}
.pre_load{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #e8e8e8;
}
.styled-table {
    position: absolute;
    left: 38%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    transition: all .2s ease-in;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr:hover{
    background-color: #f7f7fa;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}

.styled-table tbody tr:nth-of-type(odd):hover {
    background: linear-gradient(to bottom left, #18557a 0%, #70d0c7 100%);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3), -1px -1px 8px rgba(0,0,0,0.3);
}